#
# *******************************************************
#    NOTE:  Not necessary to modify any information below this line
#           unless one is interested in customizing the "sweep.eplt" file.
# *******************************************************
#
#    WARNING: Only plots values for subregion #1
#
#    + + + DATA TO PLOT + + +
#
#      "xplot" flag for writing variables to file "sweep.eplt".
#       -1 = write nothing
#        0 = write erosion variables;
#      Actual variables listed below are only written if flagged with a 1
#
#      NOTE:  The SWEEP cmdline option -Eplt determines if the data
#             specfied here is appended to the sweep.eplt file.
  0
#
#      Next are 2 lines per variable:
#       1st line: flag (0=do not write, 1=do write) and variable description
#       2nd line: this info is used as a header in "sweep.eplt"
#           place header within first 12 positions of the line
#
# xin(i), R, field length
   1
  Length(m)
# abzht, R, biomass ht.(m)
   1
 bio_ht(m)
# abrsai, R, stem area index
  1
 stem_area
# abrlai(s), R, Biomass leaf area index (m^2/m^2)
  1
 lai_area
# abffcv, R, biomass flat fraction cover
  1
 flat_cov
# asfvfs(1,s), R, soil fraction very fine sand in layer 1
  1
  vfsand
# asfsan(1,s), R, soil fraction sand in layer 1
  1
   sand
# asfsil(1,s), R, soil fraction silt in layer 1
  1
  silt
# asfcla(1,s), R, soil fraction clay in layer 1
  1
  clay
# asvoc(1,s), R, soil volume roc in layer 1(m^3/m^3)
  1
  rock_vol
# aseags(1,s), R, soil aggregate stability (ln J/m^3)
  1
  ag_stab
# aslagm(1,s), R, soil aggregate geom. mean dia. (mm)
  1
  ag_gmd
# aslagn(1,s), R, soil aggregate min. dia. (mm)
  1
  ag_min
# aslagx(1,s), R, soil aggregate max. dia. (mm)
  1
  ag_max
# as0ags(1,s), R, soil aggregate geo. std. dev.
  1
  ag_std
# asfcr(s), R, Surface crust fraction (m^2/m^2)
  1
  crust_cv
# aszcr(s), R, Surface crust thickness (mm)
  1
 crust_z(mm)
# asflos(s), R, Fraction of loose material on surface (m^2/m^2)
  1
  los_cv
# asmlos(s), R, Mass of loose material on crust (kg/m^2)
  1
  los(kg/m^2)
# asdcr(s), R, Soil crust density (Mg/m^3)
  1
  cr_den(Mg/m^3)
# asecr(s), R, Soil crust stability ln(J/kg)
  1
  cr_se
# aslrr(s), R, Allmaras random roughness (mm)
  1
  rr(mm)
# aszrgh(s), R, Ridge height (mm)
  1
  z_rgh(mm)
# asxrgs(s), R, Ridge spacing (mm)
  1
  x_rgs(mm)
# asxrgw(s), R, Ridge width (mm)
  1
  x_rgw(mm)
# asxrgo(s), R, Ridge orientation (deg)
  1
  a_rgo(deg)
#
